.title {
    background-image: url("images/floral.jpg");
	font-family: helvetica, arial, sans-serif;
	font-weight: 800;
	font-size: 36px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

body {
    background-image: url("images/floral.jpg");
	overflow: hidden;
}

.main-container {
    overflow: auto;
    display: flex nowrap;
    padding: 2%;
    background-image: url("images/main-container.jpg");
    margin: auto;
    width: 90%;
    margin-top: 4%;
    margin-bottom: 2%;

	border: 5px solid #493F39;
	border-top: 5px solid #BBB4AA;
	border-right: 5px solid #BBB4AA;
	box-shadow: -4px 4px 12px black;
}

.top-left-box {
    background-image: url("images/inner-container.jpg");
    text-align: center;
    float: left;
    min-height: 220px;
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 3%;
    border: 5px solid #493F39;
	border-bottom: 5px solid #afa99f;
	border-left: 5px solid #BBB4AA;
}


.top-right-box {
    background-image: url("images/inner-container.jpg");
    text-align: center;
    float: right;
    min-height: 220px;
    width: 48.5%;
    margin-bottom: 3%;
    border: 5px solid #493F39;
	border-bottom: 5px solid #BBB4AA;
	border-left: 5px solid #BBB4AA;
}

.bottom-left-box {
    background-image: url("images/inner-container.jpg");
    text-align: center;
    float: left;
    min-height: 70px;
    width: 48.5%;
    margin-right: 3%;
    border: 5px solid #493F39;
	border-bottom: 5px solid #BBB4AA;
	border-left: 5px solid #BBB4AA;
}

.bottom-right-box {
    background-image: url("images/inner-container.jpg");
    text-align: center;
    float: right;
    min-height: 70px;
    width: 48.5%;
    border: 5px solid #493F39;
	border-bottom: 5px solid #BBB4AA;
	border-left: 5px solid #BBB4AA;
}

.num-pad-outer {
    overflow: auto;
    display: flex nowrap;
    padding: 2%;
    background-image: url("images/main-container.jpg");
    margin: auto;
    width: 90%;
    margin-top: 0%;
	border: 5px solid #493F39;
	border-top: 5px solid #BBB4AA;
	border-right: 5px solid #BBB4AA;
	box-shadow: -4px 4px 12px black;
}

.num-pad-inner {
    background-image: url("images/inner-container.jpg");
    text-align: center;
    overflow: auto;
    display: flex nowrap;
    margin: auto;
    width: 100%;
	border: 5px solid #493F39;
	border-bottom: 5px solid #BBB4AA;
	border-left: 5px solid #BBB4AA;
}

.num-button {
    color: whitesmoke;
    font-weight: 700;
    font-size: large;
    text-shadow: #241f1c -3px 4px 3px;
    padding-top: 10px;
    display: inline-block;
    min-width: 40px;
    width: 30.6%;
    min-height: 50px;
    height: 22%;
    text-align: center;
}

#one {
    border-right: 3px solid #493F39; 
    border-bottom: 3px solid #afa99f; 
    touch-action: manipulation;
}

#two {
    border-left: 3px solid #afa99f; 
    border-right: 3px solid #493F39;
    border-bottom: 3px solid #afa99f; 
    touch-action: manipulation;
}

#three {
    border-left: 3px solid #afa99f; 
    border-bottom: 3px solid #afa99f; 
    touch-action: manipulation;
}

#four {
    border-right: 3px solid #493F39; 
    border-bottom: 3px solid #afa99f; 
    border-top: 3px solid #493F39; 
    touch-action: manipulation;
}

#five {
    border-right: 3px solid #493F39; 
    border-bottom: 3px solid #afa99f; 
    border-top: 3px solid #493F39; 
    border-left: 3px solid #afa99f;
    touch-action: manipulation;
}

#six {
    border-bottom: 3px solid #afa99f; 
    border-top: 3px solid #493F39; 
    border-left: 3px solid #afa99f;
    touch-action: manipulation;
}

#seven {
    border-right: 3px solid #493F39; 
    border-bottom: 3px solid #afa99f; 
    border-top: 3px solid #493F39;
    touch-action: manipulation;
}

#eight {
    border-right: 3px solid #493F39; 
    border-bottom: 3px solid #afa99f; 
    border-top: 3px solid #493F39; 
    border-left: 3px solid #afa99f;
    touch-action: manipulation;
}

#nine {
    border-bottom: 3px solid #afa99f; 
    border-top: 3px solid #493F39; 
    border-left: 3px solid #afa99f;
    touch-action: manipulation;
}

#del {
    border-right: 3px solid #493F39;
    border-top: 3px solid #493F39;
    touch-action: manipulation;
}

#zero {
    border-right: 3px solid #493F39;
    border-top: 3px solid #493F39; 
    border-left: 3px solid #afa99f;
    touch-action: manipulation;
}

#enter {
    border-top: 3px solid #493F39; 
    border-left: 3px solid #afa99f;
    touch-action: manipulation;
}
