.cosmos {
    padding-top: 10px;
    background-color: black;
    /*linear-gradient(to left: url("images/cosmos_background.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-pic {
    width: 50px;
    border-radius: 50%;
    border: solid grey 1px;
}

.shadow-bottom {
    box-shadow: black 0px 10px 12px;
}


body::-webkit-scrollbar {
    display: none;
}


.page-outer {
    text-align: center;
    margin: auto;
}

.lg-v-img {
    display: inline-block;
    width: 100%;
    margin: 0px;
    border: grey solid 1px;
    border-radius: 2px;
    /*box-shadow: black 2px 4px 6px;*/
}

.lg-h-img {
    display: inline-block;
    width: 100%;
    margin: 0px;
    border: grey solid 1px;
    border-radius: 2px;
    /*box-shadow: black 2px 4px 6px;*/
}

.lg-bk-img {
    display: inline-block;
    width: 20%;
    margin: 10px;
    /*border: whitesmoke solid 1px;*/
    border-radius: 2px;
    /*box-shadow: black 2px 4px 6px;*/
}

.img-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 28px;
    background-color: black;
    color: whitesmoke;
    font-size: large;
    font-weight: 700;

}
